@media (min-width: 1801px) {
  nav {
    font-size: 2rem;
  }

  nav img {
    height: 40px;
  }

  footer {
    font-size: 1.5rem;
  }

  #home {
    font-size: 3rem;
  }

/* Contact*/
  h1 {
    font-size: 3rem;
  }

  .column {
    padding-bottom: 10px;
  }

  .content label {
    width: 140px;
  }

  #contactBox {
    width: 700px;
    padding: 0;
    font-size: 1.4rem;
  }

  #submit {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
  }

/* About*/
  #portrait {
    width: 600px;
  }
}

@media (max-width: 1800px) {
  nav {
    font-size: 1.4rem;
  }

  nav img {
    height: 35px;
  }

  footer {
    font-size: 1.2rem;
  }

  #home {
    font-size: 2.6rem;
  }

  /* Contact*/
  h1 {
    font-size: 2.5rem;
  }

  .column {
    padding-bottom: 10px;
  }

  .content label {
    width: 100px;
  }

  #contactBox {
    width: 650px;
    height: 280px;
    padding: 0;
    font-size: 1.2rem;
  }

  #submit {
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
  }

  /* About*/
  #portrait {
    width: 400px;
  }
}

@media (max-width: 1400px) { /*PC Size*/
  nav {
    font-size: 1.2rem;
  }

  nav img {
    height: 30px;
  }

  footer {
    font-size: 1rem;
  }

  #home {
    font-size: 2.5rem;
  }

  /* Contact*/
  h1 {
    font-size: 2rem;
  }

  .column {
    padding-bottom: 10px;
  }

  .content label {
    width: 70px;
  }

  #contactBox {
    width: 600px;
    height: auto;
    padding: 0;
    font-size: 0.9rem;
  }


}

@media (max-width: 820px) {
  /* Navbar Responsive Mode*/
  nav {
    font-size: 1rem;
  }

  nav img {
    height: 28px;
  }

  .topnav .icon {
    display: block;
  }

  .tab{
    display: none;
  } 
  
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav div {
   position: absolute;
   right: 50%;
  }
/*Edit?? topnav div & p*/
  .topnav p {
    position: absolute;
    right: 10px;
    top: 15px; 
  }

  .responsive a.tab {
    display: block;
  }

  /* Others*/
  footer {
    font-size: 1rem;
  }

  #home {
    font-size: 2rem;
  }

/* Contact*/
  .content {
    flex-direction: column;
  }

  #contactBox {
    width: 70%;
  }

  #submit {
    font-size: 10px;
    padding: 5px;
    margin-bottom: 10px;
  }

  /* About*/
  #about {
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    margin: 0px 11px;
  }

  #portrait {
    width: 300px;
    margin: 0;
  }
}

@media (max-width: 400px) {
  nav {
    font-size: 1rem;
  }

  nav img {
    height: 25px;
  }

  footer {
    font-size: 1rem;
  }

  #home {
    font-size: 1.7rem;
  }

/* Contact*/
  #contactBox {
    width: 90%;
  }

  /* Projects*/
  #first img {
    width: 300px;
  }

  /* About*/
  #portrait {
    width: 250px;
  }
}
